@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Font */
  --font-family: "JetBrains Mono", monospace;
  --font-display-pixel: "Press Start 2P", regular;

  /* Backgrounds */
  --color-bg-blue: #e1ecf0;
  --color-bg-pink: #fffaff;
  --color-bg-sky: #b4dcfc;

  /* Accents */
  --color-accent-aqua: #badde3;
  --color-accent-lavender: #cdc5e8;
  --color-accent-rose: #ecd2d1;
  --color-accent-mint: #afebcb;
  --color-accent-navy: #324e8f;

  /* Text */
  --color-text-default: #1e1e1e;
  --color-text-navy: var(--color-accent-navy);
  --color-text-white: #fffaff;
}

:root {
  font-family:
    JetBrains Mono,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text-default);
  background-color: var(--color-bg-pink);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2"), format("woff2");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Italic.woff2"), format("woff2");
  font-display: block;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Bold.woff2"), format("woff2");
  font-display: block;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-BoldItalic.woff2"), format("woff2");
  font-display: block;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf"), format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
  /* not anti-aliasing */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: none;
  filter: contrast(1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  min-width: 320px;
  height: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.sammy-input {
  @apply bg-bg-sky italic border border-accent-navy rounded p-2 flex-2/3;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
